[Unit]
Description=Rust Uptime Logger
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/rs-uptime-logger
Restart=on-failure
RestartSec=5
TimeoutStopSec=1
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target