[Unit]
Description=Rust Uptime Logger
DefaultDependencies=no
Before=shutdown.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/boot
ExecStop=/usr/local/bin/shutdown
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target