[Unit]
Description=Rust Uptime Shutdown Logger
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/closedown

[Install]
WantedBy=halt.target reboot.target shutdown.target